@media screen and (min-width: 0px) and (max-width: 400px) {
  .banner {
    height: 465px;
  }
  .fast-child {
    width: 350px;
  }
  .info-fast {
    padding-right: 10px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 470px) and (max-width: 800px) {
  .sec7 {
    height: 550px;
  }
  .sec15-3 {
    height: 137px;
  }
}

@media screen and (min-width: 0) and (max-width: 470px) {
  .childs-online-parent {
    width: 343px;
  }
  .branch {
    width: 291px;
  }
  .all-day-p {
    position: relative;
    top: -74px;
    left: 175px;
    width: 125px;
  }
  .call-us-copy {
    height: 97px;
  }
  .bsi-info p {
    font-size: 8px;
    line-height: 1.7;
  }
  .awarded-e p {
    font-size: 11px;
  }
  .sec14 {
    height: auto;
    padding-bottom: 30px;
  }
  .sec15-3 {
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 468px) and (max-width: 712px) {
  .sec15-3 {
    height: 160px;
  }
}

@media screen and (max-width:364.9px){
 .sec15{ padding-top: 20px;
 }
}

@media screen and (max-width:613.9px){
  .contents .five-plan{
    flex-direction: column;
  }
}

@media screen and (max-width:362.9px){
  .section1 .know-calculate a {
      font-size: 13px;
  }
}

@media screen and (max-width:686.9px){
    .life-is-one{
      padding-right: 10px;
      padding-left: 10px;
    }
    .life-is-one br {
      display: none;
    }
}

@media screen and (min-width:801px){
  .container{
    padding: 0 20px;
  }
  .container2{
    padding: 0 20px;

  }
}

@media screen and (max-width:902.9px){
  .header-1--left{
    margin-left: 13px;
  }
}

@media screen and (max-width:1047.9px){
  .left-header2 {
    width: 81%;
}
}

@media screen and (max-width:993.9px){
  .left-header2 ul {
    font-size: 11px;
  }
}

.content-trending img{
  width: 50px !important;
  height: 50px;
}

/* 724 468 */
