@import "header.css";
@import "sec1.css";
@import "sec2.css";
@import "sec4.css";
@import "sec5.css";
@import "sec6.css";
@import "sec7.css";
@import "sec8.css";
@import "sec9.css";
@import "sec10.css";
@import url(sec11.css);
@import "sec12.css";
@import "sec13.css";
@import "sec14.css";
@import "sec15.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Source Sans Pro";
}

body {
  /* width: 100vw; */
  /* overflow-x: hidden; */
}

/* @@@ */
.for-margin-issue {
  display: inline-block;
  width: 100%;
}

/* @@@ */

.container {
  max-width: 1166px;
  margin: 0 auto;
  border: 2px solid transparent;
}

.container2 {
  max-width: 1254px;
  margin: 0 auto;
  border: 2px solid transparent;
}

.container-no-b {
  /* border: 1px solid red; */
  max-width: 1254px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-bb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-d {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-e {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* //responsive */
.responsive-header {
  display: none;
}

.pro-cat {
  display: none;
}

.ex-br-ir {
  display: none;
}



/* owl-carousel   */

button.owl-next,
.owl-prev {
  background: #05396e !important;
  width: 21px;
  height: 34px;
  position: relative;
}

button.owl-next:hover,
.owl-prev:hover {
  background: #d51d25 !important;
}

 .owl-nav span {
  color: white;
  font-size: 34px;
  height: 34px;
  position: absolute;
  top: -8px;
  left: 6px;
}



.sec2-caro .owl-prev {
  position: absolute;
  top: 35px;
  left: -26px;

}

.sec2-caro .owl-next {
  position: absolute;
  top: 35px;
  right: -26px;

}

.sec2-caro .owl-carousel .owl-item img {
  width: unset !important;
}

.sec2-caro .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .sec2-caro .owl-prev {
    left: -3px;
  }
  .sec2-caro .owl-next {
    right: -3px;
  }
}

.owl-stage {
  transition: all 1.50s ease 0s !important;
}




/* ///sec4 */

.sec4 .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.sec4 .owl-prev {
  position: absolute;
  top: 163px;
  left: -26px;
}

.sec4 .owl-next {
  position: absolute;
  top: 163px;
  right: -26px;
}

.sec4 .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .sec4 .container{
  background: lightgreen;
} */

.sec4 .owl-carousel .owl-item img {
  width: unset !important;
}

.sec4 .owl-carousel .owl-stage{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:800px){
  .sec4 .owl-prev {
    left: -3px;
  }
  .sec4 .owl-next {
    right: -3px;
  }
}


/* ///sec6 */


.sec6 .owl-prev {
  position: absolute;
  top: 163px;
  /* left: 0; */
  left: -26px;

}

.sec6 .owl-next {
  position: absolute;
  top: 163px;
  /* right: 0; */
  right: -26px;

}

.sec6 .owl-carousel .owl-item img {
  width: unset !important;
}

.sec6 .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .sec6 .owl-prev {
    left: -3px;
  }
  .sec6 .owl-next {
    right: -3px;
  }
}



/* sec7////////////////// */

.sec7 .owl-prev {
  position: absolute;
  top: 57px;
  left: -26px;

}

.sec7 .owl-next {
  position: absolute;
  top: 57px;
  right: -26px;

}

.sec7 .owl-carousel .owl-item img {
  width: unset !important;
}

.sec7 .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .sec7 .owl-prev {
    left: -3px;
  }
  .sec7 .owl-next {
    right: -3px;
  }
}


/* sec9////////////// */

.sec9 .owl-prev {
  position: absolute;
  top: 180px;
  left: -26px;

}

.sec9 .owl-next {
  position: absolute;
  top: 180px;
  right: -26px;

}

.sec9 .owl-carousel .owl-item img {
  width: unset !important;
}

.sec9 .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .sec9 .owl-prev {
    left: -3px;
  }
  .sec9 .owl-next {
    right: -3px;
  }
}


/* sec12////////////// */

.sec12 .owl-prev {
  position: absolute;
  top: 47px;
  left: -26px;

}

.sec12 .owl-next {
  position: absolute;
  top: 47px;
  right: -26px;

}

.sec12 .owl-carousel .owl-item img {
  width: unset !important;
}

.sec12 .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .sec12 .owl-prev {
    left: -3px;
  }
  .sec12 .owl-next {
    right: -3px;
  }
}
